.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: animate-in;
  animation-duration: .2s;

  &_open {
    display: flex;
  }

  &__inner {
    width: 350px;
    padding: 20px 40px;
    background-color: $bgDark;
    border: 1px solid $orange;
    z-index: 20;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    animation-name: animate-modal-in;
    animation-duration: .2s;
    @include screen-lt(mobile) {
      width: 98%;
    }
  }
  &_close {
    border: 2px solid $orange;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: $orange;
    top: -20px;
    right: -20px;
    cursor: pointer;
    background-color: $bgDark;
    position: absolute;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    outline: none;
    &:hover {
      background-color: #551E00;
    }
    @include screen-lt(mobile) {
      top: 5px;
      right: 5px;
      border: none;
    }
  }
}

@keyframes animate-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes animate-modal-in {
  0% {
    top: -10px
  }
  100% {
    top: 0;
  }
}