.admin-panel {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  &__buttons {
    padding: 40px;
  }

  &__table-header {
    padding: 10px 0 10px 40px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;

    background: rgba(0, 0, 0, 0.4);
    width: 555px;

    p, div {
      font-size: 26px;
      font-weight: 500;
      color: white;
      margin-right: 25px;
    }
  }

  &__top-clickers-wrap {
    padding: 0 40px;
  }

  &__table-row {
    padding: 10px 10px;
    border-top: 1px solid #c4c4c4;
    width: auto;

    &:first-child {
      border: none;
    }

    p, div {
      min-width: 150px;
      color: white;
      margin-right: 15px;
      font-size: 18px;
    }

    div {
      min-width: 25px;
    }
  }

  .ux-button {
    width: auto;
    height: auto;
    padding: 8px 15px;
    background: transparent;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 0;
    font-weight: 300;
    margin-right: 20px;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.admin-panel-go-away {
  padding: 40px;
  color: white;
  font-size: 26px;
}