@import "fonts.scss";

$black: #0a0b0a;
$orange: #ff5100;
$white: #fff;
$grey: #8b9497;
$bgDark: #1a1a1a;
$brown: #484848;

@mixin base-sizes() {
  &__size {
    &_l {
      width: 130px;
    }
    &_s {
      width: 85px;
    }
    &_full {
      width: 100%;
      height: 42px;
    }
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin base-margins() {
  &__margin {
    &_left {
      margin-left: 10px;
      &_x2 {
        margin-left: 20px;
      }
    }
    &_right {
      margin-right: 10px;
      &_x2 {
        margin-right: 20px;
      }
    }
    &_top {
      margin-top: 10px;
      &_x2 {
        margin-top: 20px;
      }
    }
    &_bottom {
      margin-bottom: 10px;
      &_x2 {
        margin-bottom: 20px;
      }
    }
  }
}

@mixin base-aligns() {
  &__align {
    &_left {
      text-align: left;
    }
    &_center {
      text-align: center;
    }
    &_right {
      text-align: right;
    }
  }
}

@mixin main-font($weight) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
ul,ol {
  padding: 0;
  margin: 0;
  font-size: 0;
}
div {
  &:focus {
    outline: 0;
  }
}
a {
  text-decoration: none;
  color: $black;
  font-size: 16px;
}
body {
  font-size: 13px;
  @include main-font(500);
  background-color: #13023c;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
  > * {
    box-sizing: border-box;
  }
}

// Responsive settings
$screenSizes: (
        desktop: 1320px,
        tablet: 991px,
        mobile: 768px,
        mobile-small: 480px,
);

@mixin screen-gt($name) {
  @media only screen and (min-width: #{map-get($screenSizes, $name)}) {
    @content;
  }
}

@mixin screen-lt($name) {
  @media only screen and (max-width: #{map-get($screenSizes, $name)}) {
    @content;
  }
}

@mixin container-size() {
  width: 1320px;
  margin: auto;
  padding: 0 20px;
  @include screen-lt(desktop) {
    width: 100%;
  }
}

@mixin bgImage($image) {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url($image);
  @include screen-lt(mobile-small) {
    background-position: 51% 0;
  }
}