.home {
  &__header {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    margin-top: 70px;
    @include screen-lt(tablet) {
      flex-direction: column;
    }
    &_container {
      .title__container {
        &:first-child {
          margin-bottom: 10px;
          @include screen-lt(mobile) {
            h2 {
              font-size: 28px;
            }
          }
        }
        &:last-child {
          @include screen-lt(mobile) {
            h2 {
              font-size: 26px;
            }
          }
        }
      }
    }
    &_btn {
      background: linear-gradient(90deg, #131312, #c55004);
      border: 1px solid $orange;
      width: 200px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 5px 0;
      text-transform: uppercase;
      @include screen-lt(tablet) {
        width: 100%;
      }
      &:hover {
        opacity: .8;
      }
    }
    &_wait {
      width: 200px;
      border: 1px solid $orange;
      border-radius: 5px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0;
      justify-content: center;
      @include screen-lt(tablet) {
        max-width: 300px;
        width: 100%;
        margin-top: 10px;
      }
      h3 {
        font-size: 22px !important;
      }
      p {
        font-size: 13px !important;
        color: $white;
        @include main-font(300);
      }
    }
  }
  &__block {
    background: linear-gradient(-125deg, rgba(18, 18, 18, 0.2), rgba(43, 43, 43, 0.9));
    height: 85px;
    border-radius: 5px;
    position: relative;
    margin-top: 35px;
    @include screen-lt(mobile) {
      justify-content: flex-start !important;
    }
  }
  &__shape {
    font-size: 30px;
    color: $white;
    min-width: 100px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    @include main-font(600);
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      top: -25px;
      left: 10px;
      background-image: url('../../../../statics/shape.png');
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      z-index: -1;
    }
  }
  &__img {
    width: 193px;
    height: 49px;
    margin-left: 20px;
    margin-right: 20px;
    @include screen-lt(mobile) {
      display: none;
    }
  }
  &__description {
    position: relative;
    padding-left: 10px;
    &:before {
      content: '';
      top: -3px;
      left: -5px;
      position: absolute;
      width: 3px;
      height: 45px;
      background-color: $orange;
      @include screen-lt(mobile) {
        top: 0px;
      }
    }
    p {
      font-size: 15px;
      color: $white;
      @include main-font(300);
      opacity: .8;
    }
    .title__size_s {
      @include screen-lt(mobile) {
        font-size: 15px;
      }
    }
  }
  &__product {
    width: 430px;
    margin-left: 55px;
    background: linear-gradient(-125deg, rgba(18, 18, 18, 0.2), rgba(43, 43, 43, 0.9));
    border-radius: 5px;
    padding: 30px;
    img {
      @include screen-lt(tablet) {
        margin-right: 20px;
        width: 100%;
      }
    }
    @include screen-lt(tablet) {
      flex-direction: row;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
    @include screen-lt(mobile) {
      flex-direction: column;
    }
    h3 {
      font-size: 16px;
      color: $white;
      max-width: 300px;
      span {
        @include main-font(300);
      }
    }
    &_container {
      margin-top: 20px;
      @include screen-lt(tablet) {
        flex-direction: column;
      }
    }
  }
}