.home {
  &__header {
    height: 350px;
    display: flex;
    position: relative;
    .title__container:first-child {
      h2 {
        @include main-font(700);
      }
    }
    .title__container:last-child {
      h2 {
        @include main-font(500);
        @include screen-lt(desktop) {
          font-size: 28px;
        }
        @include screen-lt(mobile) {
          font-size: 38px;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('../../../../statics/hero.png');
      width: 515px;
      height: 350px;
      @include screen-lt(tablet) {
        width: 313px;
      }
      @include screen-lt(mobile) {
        display: none;
      }
    }
  }
}