.app {
  &_indev {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    align-items: center;
    color: white;

    > * {
      margin-bottom: 10px;
    }
  }
}

.footer {
  font-size: 16px;
  color: $white;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  width: 100%;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

#root {
  position: relative;
}