.app {
  height: 1930px;

  &_indev {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    align-items: center;
    color: white;

    > * {
      margin-bottom: 10px;
    }
  }
}