.home {
  &__label {
    width: 350px;
    height: 125px;
    border: 1px solid $orange;
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(90deg, #131312, #c55004);
    @include screen-lt(desktop) {
      width: 300px;
      padding: 20px;
    }
    @include screen-lt(tablet) {
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
      margin-bottom: 20px;
      height: 80px;
    }
    @include screen-lt(mobile-small) {
      padding: 10px 15px;
    }

    &_counter {
      font-size: 166px;
      @include main-font(700);
      line-height: 1;
      top: -22px;
      color: $orange;
      left: 50px;
      opacity: .2;
      position: absolute;
      @include screen-lt(tablet) {
        font-size: 110px;
        top: -17px
      }
    }

    &_description {
      color: $white;
      font-size: 14px;
      width: 200px;
      @include screen-lt(desktop) {
        width: 180px;
      }
      @include screen-lt(tablet) {
        width: 100%;
        margin-left: 20px;
      }
    }
    &_img {
      max-width: 59px;
    }
  }
  &__labels {
    @include screen-lt(tablet) {
      flex-direction: column;
    }
  }
}