.home {
  z-index: 2;
  display: block;
  background-image: url('../../statics/bg/1.jpg');
  min-height: 1930px;
  background-repeat: no-repeat;
  background-position: top center;

  &__background {
    &_1 {
      background-image: url('../../statics/bg/1.jpg');
    }
    &_2 {
      background-image: url('../../statics/bg/2.jpg');
    }
    &_3 {
      background-image: url('../../statics/bg/3.jpg');
    }
    &_4 {
      background-image: url('../../statics/bg/4.jpg');
    }
  }

  &__container {
    @include container-size;
  }
}

.app {
  background-image: url('../../statics/bg/1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}