@mixin pseudo($left, $right, $bgImage) {
  content: '';
  position: absolute;
  top: 0;
  left: $left;
  right: $right;
  width: 162px;
  height: 112px;
  background-image: url($bgImage);
  background-repeat: no-repeat;
  @include screen-lt(mobile-small) {
    display: none;
  }

}

.home {
  &__info {
    width: 600px;
    height: 210px;
    display: flex;
    background: linear-gradient(#ff6400, #79360a);
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    margin: 75px 0 110px 0;
    padding: 20px;
    &:before {
      @include pseudo(0, auto, '../../../../statics/shade.png');
    }
    &:after {
      @include pseudo(auto, 0, '../../../../statics/shade2.png');
    }
    @include screen-lt(tablet) {
      margin: 0 0 10px 0;
    }
    @include screen-lt(mobile) {
      width: 100%;
    }

    &_description {
      color: $white;
      font-size: 18px;
      @include main-font(600);
      text-align: center;
    }
    &_image {
      width: 120px;
    }
    &_photo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    &_winner {
      height: 250px;
      width: 900px;
      @include screen-lt(mobile) {
        width: 100%;
      }
    }

    &_margin {
      margin-left: 15px;
      width: auto;
    }

    &_client {
      padding: 20px 0;
    }

    h2 {
      @include main-font(700);
    }

    .title__size_l {
      @include screen-lt(mobile) {
        font-size: 24px;
      }
    }
    .title__size_m {
      @include screen-lt(mobile) {
        font-size: 18px;
      }
    }
  }
}