@mixin pseudo($left, $right, $bgImage) {
  content: '';
  position: absolute;
  top: 0;
  left: $left;
  right: $right;
  width: 162px;
  height: 112px;
  background-image: url($bgImage);
  background-repeat: no-repeat;

}

.home {
  &__info {
    width: 600px;
    height: 210px;
    display: flex;
    background: linear-gradient(#ff6400, #79360a);
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    margin: 75px 0 110px 0;
    padding: 20px;
    &:before {
      @include pseudo(0, auto, '../../../../statics/shade.png');
    }
    &:after {
      @include pseudo(auto, 0, '../../../../statics/shade2.png');
    }

    &_description {
      color: $white;
      font-size: 18px;
      @include main-font(600);
      text-align: center;
    }
    &_image {
      width: 120px;
    }
  }
}